.no-data-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 300px;
    position: absolute;
    color: rgb(249, 249, 249);
    font-family: "Inconsolata", serif;
    padding: 10px;
    margin-top: -250px;

    @media screen and (max-width: 320px) {
      width: 200px;
      margin-top: 0px;
      font-size: 12px;
    }
  }

  img {
    @media screen and (max-width: 320px) {
      width: 200px;
      margin-top: 50px;
    }
  }
}

.less-than-5-albums-container {
  // position: absolute;
  // top: 27%;
  padding: 15px;

  h2 {
    width: 300px;
    color: rgb(19, 11, 81);
    font-family: "Expletus Sans", serif;
    font-size: 19px;
    text-align: center;
  }
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(19, 11, 81);
  border: 2px solid $color-greyblue;
  margin: 40px;
  border-radius: 20px;
  position: relative;
  justify-content: center;

  @media screen and (max-width: 572px) {
    margin: 10px;
  }


  h1 {
    top: 0;
    background-color: $color-skyblue;
    margin: -40px;
    padding: 0 15px;
    z-index: 0;

    @media screen and (max-width: 688px) {
      font-size: 35px;
      margin: -27px;
    }
    @media screen and (max-width: 572px) {
      font-size: 30px;
      margin: -24px;
    }
    @media screen and (max-width: 450px) {
      font-size: 25px;
      margin: -20px;
    }
    @media screen and (max-width: 320px) {
      font-size: 25px;
      margin: -19px;
    }
  }

h2 span {

  @media screen and (max-width: 688px) {
  }
  @media screen and (max-width: 572px) {
    font-size: 16px;
  }
  @media screen and (max-width: 450px) {
  }
  @media screen and (max-width: 320px) {
  }
}

img {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);

}

button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $color-skyblue;
  border-radius: 10px;
  border-width: 2px;
  border-color: $color-navyblue;
  color: #130b51;
  border-style: solid;
  margin: 1px;
  cursor: pointer;
  font-family: "Poppins", serif;
  width: 32%;
  height: 40px;

  @media screen and (max-width: 572px) {
    width: 90%;
  }

  @media screen and (max-width: 320px) {
  }
}

}

.quiz-container-active {
  background-color: rgba(110, 149, 195, 0.328);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 445px;
  text-align: center;
  margin: 45px 12.5px 20px;;
  border-radius: 15px;
  transition: .4s ease-in-out;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  font-family: "Inconsolata", serif;

  @media screen and (max-width: 850px) {
    width: 90%;
  }
  @media screen and (max-width: 590px) {
    // width: 90%;
    height: 600px;
  }
  @media screen and (max-width: 320px) {
    // width: 90%;
  }

  h2 {
    padding: 10px;
    font-size: 20px;
  }
}

.quiz-inner-container {
  padding: 50px 0;

  @media screen and (max-width: 850px) {
    padding: 10px 0;
  }
  @media screen and (max-width: 688px) {
    padding: 10px 0;
  }
  @media screen and (max-width: 600px) {
  }
  @media screen and (max-width: 450px) {
    padding: 0
  }
}

.quiz-container-inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  text-align: center;
  border-radius: 15px;
  transition: .4s ease-in-out;
  font-family: "Inconsolata", serif;
  padding: 27px;

  @media screen and (max-width: 1099px) {
    // padding: 10px;
  }
  @media screen and (max-width: 572px) {
    // padding: 10px;
  }
  @media screen and (max-width: 320px) {
  }

button {
  font-size: 15px;
  width: 200px;
  
  @media screen and (max-width: 1099px) {
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {
  }
}

h2 {
    padding: 20px;
    font-size: 20px;
  }
}


.selected-album-image-box {
  height: 250px;

  @media screen and (max-width: 572px) {
    width: 190px;
    height: 190px;
  }
  
  @media screen and (max-width: 320px) {
    width: 170px;
    height: 170px;
  }

  img {
    width: 250px;
    height: 250px;

    @media screen and (max-width: 572px) {
      width: 190px;
      height: 190px;
    }
    
    @media screen and (max-width: 320px) {
      width: 170px;
      height: 170px;
    }
  }
}

.answer-images-box {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 590px) {
    height: 400px;
    flex-direction: column
  }

  img {
    margin: 2px;
    cursor: pointer;
    height: 140px;
    width: 140px;

    @media screen and (max-width: 590px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 320px) {
    }

  }
}

.answer-image-is-correct {
  border: 3px solid rgb(7, 177, 7);
  animation: bounce 1s ease-in-out; 
}
.answer-image-is-incorrect {
  opacity: 0.5;
}

.question-box {
display: flex;
flex-direction: column;
text-align: center;
width: 100%;

h3 {
  text-align: center;
  margin: 12px
}
p {
  margin: 5px;
}
}

#track-question-h3 {
  margin-bottom: 15px
}

.answers-button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 572px) {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .answer-button-is-correct {
    opacity: 1;
    background-color: rgb(72, 162, 45);
    color: white;
    animation: 1s bounce ease-in-out;
    animation-timing-function: linear;
  }
  
}

.answers-button-box > *:last-child {
  margin-bottom: 20px;
}


@keyframes bounce {
    0% {
      transform: scale(1);  /* Normal size */
    }
    20% {
      transform: scale(1.2);  /* Slightly larger */
    }
    50% {
      transform: scale(1);  /* Slightly smaller */
    }
    75% {
      transform: scale(1.1);  /* Slightly larger */
    }
    // 80% {
    //   transform: scale(1.05);  /* Back to normal size */
    // }
    100% {
      transform: scale(1);  /* Ensure it ends with the original size */
    }
  }

.answer-button-is-incorrect {
  opacity: 0.5;
}

#next-button {
width: 90%;
margin-bottom: 10px;
}

/* ALBUMS_LIST COMPONENT */
.albums-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 10px 0 50px;

  img {
    margin: 3px;
    cursor: pointer;
    width: 150px;
    height: 150px;

    @media screen and (max-width: 572px) {
      width: 140px;
      height: 140px;
    }
    @media screen and (max-width: 320px) {
      width: 120px;
      height: 120px;
    }

  }
}

/* ALBUM DETAILS WHEN USER CLICKS */

#tfi-close {
  padding: 5px;
}

.album-show-container-active{ 
  background-color: rgb(70, 89, 121);
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  color: white;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  padding-bottom: 15px;
  margin: 10px 0;
  opacity: 1;

  @media screen and (max-width: 1099px) {
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {

  }


  img {
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 5px rgb(47, 60, 74);
    margin: 10px;

    @media screen and (max-width: 828px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 572px) {
    }
    @media screen and (max-width: 460px) {
      width: 200px;
      height: 200px;
    }

  }

}

.album-show-container-inactive {
  background-color: rgb(70, 89, 121);
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  color: white;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  padding-bottom: 30px;
  opacity: 0;
}



.album-show-primary-image-and-text-box  {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 940px) {
    flex-direction: column;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {
  }

}

.album-show-text-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;

  @media screen and (max-width: 940px) {
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {

  }
  
  h1 {
    color: rgb(251, 251, 251);
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    
  @media screen and (max-width: 940px) {
    width: auto;
    white-space: wrap;
    text-align: center;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {

  }
    
  }

  h2 {
  color: rgb(251, 251, 251);
  font-size: 16px;
  padding: 0 5px 5px 0;
  font-family: "Expletus Sans", serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 940px) {
    width: auto;
    white-space: wrap;
    text-align: center;
    }
  }
}

.track-name-and-number {
  width: 350px;

  @media screen and (max-width: 940px) {
    // padding: 0 10px;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 320px) {
  }

  p {
    font-size: 14px;
    border-bottom: 1px solid rgba(158, 158, 193, 0.57);
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 828px) {
      margin: 0 30px;
    }
    @media screen and (max-width: 460px) {
      margin: 0 70px;
    }
  }
}

.album-show-secondary-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap ;
  flex-direction: row;
}

.music-styles {
  display: flex;;
  @media screen and (max-width: 940px) {
    justify-content: center;
  }
}