.no-data-container {
  padding-top: 10px;

  p {
    width: 300px;
    position: absolute;
    color: rgb(228, 225, 225);
    font-family: "Inconsolata", serif;
    padding: 10px
  }
}

.less-than-5-albums-container {
  position: absolute;
  top: 27%;

  h2 {
    width: 300px;
    color: rgb(19, 11, 81);
    font-family: "Expletus Sans", serif;
    font-size: 19px;
    text-align: center;
  }
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(19, 11, 81);

img {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
}

button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  border-width: 2px;
  border-color: #130b51;
  color: #130b51;
  border-style: solid;
  margin: 1px;
  cursor: pointer;
  font-family: "Poppins", serif;
  width: 32%;
  height: 40px;

  @media screen and (max-width: 572px) {
    width: 97%;
  }

  @media screen and (max-width: 449px) {
  }
}

}

.quiz-container-active {
  background-color: rgba(110, 149, 195, 0.328);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 445px;
  text-align: center;
  margin: 12.5px;
  border-radius: 15px;
  transition: .4s ease-in-out;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  font-family: "Inconsolata", serif;

  @media screen and (max-width: 1099px) {
    width: 80%;
  }
  @media screen and (max-width: 572px) {
    width: 90%;
    height: 600px;
  }
  @media screen and (max-width: 449px) {
    width: 90%;
  }

  h2 {
    padding: 10px;
    font-size: 20px;
  }
}

.quiz-container-inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  // height: 150px;
  text-align: center;
  border-radius: 15px;
  transition: .4s ease-in-out;
  font-family: "Inconsolata", serif;

button {
  font-size: 15px;
  
  @media screen and (max-width: 1099px) {
    width: 200px;
  }
  @media screen and (max-width: 572px) {

  }
  @media screen and (max-width: 449px) {

  }
}

h2 {
    padding: 10px;
    font-size: 20px;
  }
}


.selected-album-image-box {
  height: 250px;

  img {
    width: 250px;
    height: 250px;
  }
}

.answer-images-box {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 572px) {
    height: 400px;
    flex-direction: column
  }

  img {
    margin: 2px;
    cursor: pointer;
    height: 140px;
    width: 140px;

    @media screen and (max-width: 572px) {
      width: 120px;
      height: 120px;
    }

    @media screen and (max-width: 449px) {
    }

  }
}

.answer-image-is-correct {
  border: 3px solid rgb(7, 177, 7);
  animation: bounce 1s ease-in-out; 
}
.answer-image-is-incorrect {
  opacity: 0.5;
}

.question-box {
display: flex;
flex-direction: column;
text-align: center;
width: 100%;

h3 {
  text-align: center;
  margin: 12px
}
p {
  margin: 5px;
}
}

#track-question-h3 {
  margin-bottom: 15px
}

.answers-button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 572px) {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

}

.answers-button-box > *:last-child {
  margin-bottom: 20px;
}

.answer-button-is-correct {
  opacity: 1;
  background-color: rgb(72, 162, 45);
  color: white;
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
    0% {
      transform: scale(1);  /* Normal size */
    }
    20% {
      transform: scale(1.2);  /* Slightly larger */
    }
    40% {
      transform: scale(1);  /* Slightly smaller */
    }
    60% {
      transform: scale(1.1);  /* Slightly larger */
    }
    80% {
      transform: scale(1);  /* Back to normal size */
    }
    100% {
      transform: scale(1);  /* Ensure it ends with the original size */
    }
  }

.answer-button-is-incorrect {
  opacity: 0.5;
}

#next-button {
width: 97%
}

/* ALBUMS_LIST COMPONENT */
.albums-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 10px 0 50px;

  img {
    margin: 3px;
    cursor: pointer;
    width: 150px;
    height: 150px;

    @media screen and (max-width: 572px) {
      width: 140px;
      height: 140px;
    }
    @media screen and (max-width: 449px) {
      width: 120px;
      height: 120px;
    }

  }
}

/* ALBUM DETAILS WHEN USER CLICKS */

#tfi-close {
  padding: 10px;
}

.album-show-container-active{ 
  background-color: rgb(70, 89, 121);
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  color: white;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 10px 0;
  opacity: 1;

  @media screen and (max-width: 1099px) {
  }
  @media screen and (max-width: 572px) {
    
  }
  @media screen and (max-width: 449px) {

  }


  img {
    height: 350px;
    width: 350px;
    box-shadow: 2px 2px 5px rgb(47, 60, 74);
    margin: 10px;

    @media screen and (max-width: 828px) {
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width: 572px) {
    }
    @media screen and (max-width: 449px) {
    }

  }

button {
height: 30px
  }

}

.album-show-container-inactive {
  background-color: rgb(70, 89, 121);
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  color: white;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: 1s ease-in-out;
  z-index: 0;
  border-radius: 10px;
  padding-bottom: 30px;
  opacity: 0;
}



.album-show-primary-image-and-text-box  {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 449px) {
  }

}

.album-show-text-box {
  display: flex;
  flex-direction: column;
  // height: 350px;
  margin: 10px;

  @media screen and (max-width: 720px) {
    align-items: center;
    height: auto;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 449px) {

  }
  
  h1 {
    color: rgb(251, 251, 251);
    font-size: 20px;
    padding-bottom: 5px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

  @media screen and (max-width: 720px) {
    width: auto;
    white-space: wrap;
    text-align: center;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 449px) {

  }
    
  }

  h2 {
  color: rgb(251, 251, 251);
  font-size: 16px;
  padding: 0 5px 5px 0;
  font-family: "Expletus Sans", serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
}

.track-name-and-number {
  width: 350px;

  @media screen and (max-width: 720px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 572px) {
  }
  @media screen and (max-width: 449px) {
  }

  p {
    font-size: 14px;
    border-bottom: 1px solid rgba(158, 158, 193, 0.57);
    padding: 5px 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.album-show-secondary-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap ;
  flex-direction: row;
}

.music-styles {
  display: flex;

}