.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-greyblue;
  padding: 40px;
  flex-shrink: 0;

}

#linked-in-icon {
  height: 35px;
}

.contact-inner-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;

  @media screen and (max-width: 1099px) {
  flex-direction: row;
  }
}


.email-contact-box {
  transition: 0.1s ease-in;
  
  span {
    font-size: 34px;
    color: rgb(42, 78, 136)
  }
}

.email-contact-box:hover {
  transform: scale(1.04);
  @media screen and (max-width: 1099px) {
    transform: none
  }
}

.linked-in-contact-box{
  transition: 0.1s ease-in;
}

.linked-in-contact-box img:hover {
transform: scale(1.04);
@media screen and (max-width: 1099px) {
  transform: none
}
}
