.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-greyblue;
  padding: 20px;
  flex-shrink: 0;

}

#linked-in-icon {
  height: 27px;
}

.contact-inner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

  @media screen and (max-width: 1099px) {
  flex-direction: row;
  }
}


.email-contact-box {
  transition: 0.1s ease-in;
  
 .email-icon {
    font-size: 24px;
    color: rgb(42, 78, 136)

  }

  @media screen and (min-width: 1099px) {
  span:hover {
    color: rgb(234, 234, 234);
  }
}
}

.linked-in-contact-box{
  transition: 0.1s ease-in;
}

.linked-in-contact-box img:hover {
transform: scale(1.04);

@media screen and (max-width: 1099px) {
  transform: none
}
}
