
.navbar {
  height: 70px;
  background-color: #b3defd;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  
  li {
    list-style: none;
    color: rgb(19, 11, 81);
    padding: 0 15px;
    font-size: 19px;
    font-family: "Inconsolata", serif;
    border-radius: 5px;

    @media screen and (max-width: 572px) {
      margin-top: -10px;
      font-size: 16px;
      padding: 0 10px;
      }   
  }
  
  li:hover {
    color: rgb(0, 114, 235);
    cursor: pointer;
  }
}

.navbar-list {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo {
  width: 45px;
  height: 45px;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;

  @media screen and (max-width: 572px) {
    margin-left: 10px;
    margin-top: 13px;
  }
}

.loader {
  height: 3px;
  width: 100vw;
  --c:no-repeat linear-gradient(#130b51 0 0);
  background: var(--c),var(--c),#b3defd;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

.dropdown-portfolio {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-github {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.dropdown-content {
  visibility: hidden;  
  opacity: 0;         
  position: absolute;
  top: 20px;
  transition: opacity .4s, visibility 0s .4s;  
  z-index: 999;
}

.dropdown-github:hover .dropdown-content,
.dropdown-portfolio:hover .dropdown-content {
  visibility: visible;  
  opacity: 1;         
  transition: opacity .4s, visibility 0s; 
  z-index: 999;
}

.dropdown-content a {
  display: block
}
.dropdown-content img {
  border-radius: 5px;
  opacity: 1; 
  transition: none;  
  width: 150px;
  margin-top: 5px;
  border: 2px solid transparent;
  z-index: 999;
}

.dropdown-content:hover img {
  border-color: $color-offwhite;
}

.dropdown-content:hover img {
  border-color: $color-darkblue
}