#wallpaper{
  width: 700px;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;

  @media screen and (max-width: 718px) {
    width: 600px
  }
  @media screen and (max-width: 608px) {
      width: 500px
    }
  @media screen and (max-width: 514px) {
    width: 350px
  }
  @media screen and (max-width: 360px) {
    width: 320px
  }
  @media screen and (max-width: 320px) {
    width: 300px
  }
}

.main {
  flex-grow: 1;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items:  center;
  margin-bottom: 50px;
  min-height: 60vh;

  h1 {
    font-family: "Bungee Shade", serif;
    padding: 10px;
    text-align: center;

    @media screen and (max-width: 514px) {
      font-size: 35px;
      padding: 10px 10px 0 10px;
    }
  }

  h2 {
    font-size: 20px;
    font-family: "Inconsolata", serif;
    padding-bottom: 20px;
    color: rgb(19, 11, 81);
    text-align: center;
  
    a:link { 
      text-decoration: none; 
      color: rgb(0, 114, 235);
    } 
    a:visited { 
      color: rgb(0, 114, 235);
    } 
    a:hover { 
      color: rgb(0, 114, 235);
    } 
    a:active { 
      color: rgb(0, 114, 235);
    }
    @media screen and (max-width: 514px) {
      font-size: 16px;
      padding: 0 5px 15px;;
    }
  }
}

.search-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", serif;
  position: absolute;
  padding-top: 117px;

  @media screen and (max-width: 718px) {
    padding-top: 96px
  }
  @media screen and (max-width: 608px) {
    padding-top: 76px
  }

  @media screen and (max-width: 514px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 40px;
  }

  p {
    padding-top: 10px;
    font-size: 18px;
  }
}

#search-input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-width: 0px; 
  padding-left: 10px;
  font-size: 18px;
  box-shadow: 2px 2px 5px rgb(18, 26, 34);
  opacity: 0.85;
  font-family: poppins;

  @media screen and (max-width: 514px) {
    width: 325px;
    height: 30px;
  }
  @media screen and (max-width: 514px) {
    width: 260px;
    height: 30px;
  }
}

#search-input::placeholder {
  color: black
}

.no-result-or-loading-message-box {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgb(18, 26, 34);
  background-color: white;
  font-size: 14px;
  width: 400px;
  position: relative;

  @media screen and (max-width: 514px) {
    width: 260px;
  }
  @media screen and (max-width: 320px) {
    width: 260px;
  }

  p {
    padding: 5px;

  }


}

.search-results-button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;

  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  background-color: white;
  font-size: 14px;
  width: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;

  &.is-selected {
    background-color: rgb(228, 239, 253)
  }

  &:hover {
    background-color: rgb(228, 239, 253);
  }
  
  @media screen and (max-width: 514px) {
    width: 260px;
  }

  #result-text-p {
    flex: 1; 
    padding: 0 0 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 340px;
    
    @media screen and (max-width: 514px) {
      width: 195px;
    }
  }
  
  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 2px 2px  
  }
}