#background-image {
  z-index: 0
}

.search-container {
  z-index: 9999;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;

  p {
    padding-top: 10px;
    font-size: 18px;
  }
}

#search-input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-width: 0px; 
  padding-left: 10px;
  font-size: 22px;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  // position: absolute;
}
#search-input::placeholder {
  font-size: 18px;
}

.search-results-container {
  
}

.search-results-box {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgb(96, 137, 183);
  background-color: white;
  font-size: 14px;
  width: 400px;
  position: relative;
  cursor: pointer;

  #result-text {
    position: absolute;
    left: 60px;
    padding: 0;
  }

  img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 2px 2px  
  }
}

.search-results-box:hover {
  background-color: rgb(228, 239, 253);
}

.result-text-div {
  display: flex;
  align-items: center;  /* Vertically center text */
  justify-content: center;  /* Horizontally center text */
  text-align: center;  /* Optional: to make sure the text itself is centered */
  flex: 1;  /* Take up the remaining space inside .search-results-box */
}