.trackslider-container {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.arrow-active {
  opacity: 0.2;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
}

.arrow-inactive {
  opacity: 1;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
}

.track-item {
  display: flex;
}

