.trackslider-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-controls {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.arrow-active {
  opacity: 0.2;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
}

.arrow-inactive {
  opacity: 1;
  cursor: pointer;
  width: 50px;
  display: flex;
  justify-content: center;
}