@import '_Search';
@import '_Artist';
@import '_Trackslider';

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0

}
body {
  background-color: rgb(179, 222, 253);
  color: rgb(38, 36, 36);
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0
}